.order-success {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success-card {
  background: white;
  padding: 50px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.checkmark {
  font-size: 60px;
  color: #22c55e;
  margin-bottom: 20px;
}

.success-card h1 {
  margin-bottom: 20px;
}

.success-card button {
  margin-top: 25px;
  padding: 12px 30px;
  border: none;
  background: tomato;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}