.food-display {
    margin-top: 30px;   /* was too big */
    padding: 30px 30px 50px 30px;   /* reduced top padding */
    background: #ffffff;
    border-radius: 20px;
}

.food-display h2 {
    font-size: 26px;
    font-weight: 700;
    color: #111827;
}

.food-display-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    margin-top: 25px;
    gap: 25px;
}